<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @map.name %>
</p>

<p>
  <b>Pdf:</b>
  <%= link_to "View", @map.filename %>
</p>

<p>
  <b>Event:</b>
  <%= Event.find(@map.event_id).name %>
</p>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
