<%= form_for(@blob,:html=>{:multi_part =>true}) do |f| %>
  <% if @blob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blob.errors.count, "error") %> prohibited this blob from being saved:</h2>

      <ul>
      <% @blob.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.file_field :filename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
