<h1>Listing blobs</h1>

<table>
  <tr>
    <th>File</th>
    <th>Content type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blobs.each do |blob| %>
  <tr>
    <td><%= blob.file %></td>
    <td><%= blob.content_type %></td>
    <td><%= link_to 'Show', blob %></td>
    <td><%= link_to 'Edit', edit_blob_path(blob) %></td>
    <td><%= link_to 'Destroy', blob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blob', new_blob_path %>
