<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= @blob.file %>
</p>

<p>
  <b>Content type:</b>
  <%= @blob.content_type %>
</p>


<%= link_to 'Edit', edit_blob_path(@blob) %> |
<%= link_to 'Back', blobs_path %>
