<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @advertisement.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @advertisement.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="advertisement[image]" class="fieldLabel">Image</label>
            <input type="text" id="advertisement[image]" name="advertisement[image]" <%= placeholder("Image") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="advertisement[filename]" class="fieldLabel">Filename</label>
            <input type="text" id="advertisement[filename]" name="advertisement[filename]" <%= placeholder("Filename") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="advertisement[event_id]" class="fieldLabel">Event</label>
            <input type="text" id="advertisement[event_id]" name="advertisement[event_id]" <%= placeholder("Event") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
