<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @presentation.name %>
</p>

<p>
  <b>Filename:</b>
  <%= link_to "View", @presentation.filename %>
</p>

<p>
  <b>Workshop:</b>
  <%= Workshop.find(@presentation.workshop_id).name %>
</p>

<p>
  <b>Event:</b>
  <%= Event.find(@presentation.event_id).name %>
</p>


<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
