<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= link_to "View", @advertisement.image %>
</p>

<p>
  <b>Region:</b>
  <%= Region.find(@advertisement.event_id_id).region_name %>
</p>

<p>
  <b>Link:</b>
  <%= link_to "Link", @advertisement.link %>
</p>


<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
