<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exhibitor.name %>
</p>

<p>
  <b>Pdf:</b>  
  <%= link_to "View", @exhibitor.filename %>
</p>

<p>
  <b>Event:</b>
  <%= Event.find(@exhibitor.event_id).name %>
</p>


<%= link_to 'Edit', edit_exhibitor_path(@exhibitor) %> |
<%= link_to 'Back', exhibitors_path %>
