<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @map.name %></h1>
    <a href="<%= url_for :action => :show, :id => @map.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @map.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @map.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="map[name]" class="fieldLabel">Name</label>
            <input type="text" id="map[name]" name="map[name]" value="<%= @map.name %>" <%= placeholder( "Name" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="map[filename]" class="fieldLabel">Filename</label>
            <input type="text" id="map[filename]" name="map[filename]" value="<%= @map.filename %>" <%= placeholder( "Filename" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
