<%= form_for(@guide,:html=>{:multipart =>true}) do |f| %>
  <% if @guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% @guide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pdf %><br />
    <%= f.file_field :pdf %>
  </div>
  <div class="field">
    <%= f.label :event %><br />
    <%= collection_select(:guide, :event_id, Event.all, :id, :name)  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
