<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guide.name %>
</p>

<p>
  <b>Pdf:</b>
  <%= link_to "View", @guide.filename %>
</p>

<p>
  <b>Event:</b>
  <%= Event.find(@guide.event_id).name %>
</p>


<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
