<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @event.object %>
    <h1>Edit <%= @event.filename%></h1>
    <%= link_to "Delete", :action => :delete, :id => @event.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @event.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Filename: </td>
              <td class="itemValue"><input type="text" name="event[filename]" value="<%= @event.filename %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Logo: </td>
              <td class="itemValue"><input type="text" name="event[logo]" value="<%= @event.logo %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Name: </td>
              <td class="itemValue"><input type="text" name="event[name]" value="<%= @event.name %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
